body {
  background-image: url("https://i.imgur.com/YjWXmAG.png");
  background-size: cover;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
header {
    font-family: pangolin;
    justify-content: center;
    text-align: center;
    margin-top: -25px;
}
header h1 {
    font-size: 48px;
}
header h3 {
    font-size: 25px;
}
table {
  height: 500px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
td {
  border-style: solid;
  border-color: rgb(195, 207, 87);
  border-radius: 50%;
  grid-gap: 50px;
}

button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(195, 207, 87);
  border-radius: 43%;
  height: 35px;
  width: 100px;
}
